<%= turbo_frame_tag "modal-frame" do %>
  <div class='flex flex-col p-4 gap-2'>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>1</kbd> - All feeds
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>2</kbd> - Unread feeds
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>3</kbd> - Starred feeds
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>shift</kbd>+<kbd class='kbd'>R</kbd> - Mark read (selected)
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>f</kbd> - Scroll page down
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>b</kbd> - Scroll page up
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>h</kbd> - Previous feed
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>l</kbd> - Next feed
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>j</kbd> - Next item
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>k</kbd> - Previous item
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>t</kbd> - Expand/collapse item
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>r</kbd> - Mark item read/unread
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>s</kbd> - Mark item starred/unstarred
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>o</kbd> - Open item link (new tab)
    </div>
    <div class='flex gap-1 items-center'>
      <kbd class='kbd'>/</kbd> - Focus search
    </div>
  </div>
<% end %>
