<%# locals: (path_to_render:) -%>
<div class="container py-5 px-3 md:px-5 w-screen sm:w-full">
  <div class="flex flex-col gap-4">
    <div id="items" data-controller='content' data-content-current-class="border-l" data-action="<%= content_actions %>"></div>
    <%= turbo_frame_tag 'items-pagination', src: path_to_render, loading: :lazy do %>
      <div class='flex justify-center p-5'>
        <%= render 'application/loading'%>
      </div>
    <% end %>
  </div>
</div>
