<dialog id="modal" class="modal" data-controller="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <%= turbo_frame_tag "modal-frame", target: '_top' %>
  </div>
</dialog>
